html {
  /* background: rgb(189, 189, 189); */
}

body {
  font-family: 'Poppins', sans-serif;
}

h1 {
  margin: 0;
  border: 1px solid lightblue;
}

.container {
  width: 70vw;
  margin: 0 auto;
  display: flex;
}

.left {
  width: 25%;
  border: 1px solid lightblue;
  overflow-wrap: break-word;
}

/* .left ::after {
  content: '';
  height: 48px;
  background-color: red;
} */

.spacer {
  height: 48px;
}

.right {
  width: 75%;
}

input,
button {
  margin: 0;
  padding: 0;
}

/* --------------------------- */

.ctaAPI {
  border: 1px solid lightblue;
  width: 100%;
}

input {
  width: 80%;
}

button {
  width: 18%;
}

.card {
  border: 1px solid lightblue;
}

#resAPI {
  width: 100%;
  border: 1px solid lightblue;
  color: #555;
  overflow-wrap: break-word;
}

.templateRender {
  display: block;
}

.btn {
}

.btn--remove {
  width: 100%;
}

.btn--fetch {
  width: 100%;
}

.btn--clear {
  width: 100%;
  /* display: none; */
}

.btn--repeat {
  width: 100%;
}

/* --------------------------- */
